.makersEditor-Editor {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  height: 100%;

  .makersEditor-Editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 16px 32px;
    border-bottom: 1px solid var(--Gray-200, #e4e7ec);

    .makersEditor-Editor-header__title {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .makersEditor-Editor-body {
    padding: 32px;
    padding-bottom: 0;
    flex: 1;
  }

  .makersEditor-Editor-footer {
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid var(--Gray-200, #e4e7ec);
    padding: 10px 0;

    > button {
      padding: 8px 32px;
      border: none;
      border-radius: 16px;
      color: white;
      background-color: #fa323c;
      outline: none;
      font-weight: bold;
      line-height: 24px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
      &:disabled {
        opacity: 0.1;
        pointer-events: none;
      }
    }
  }
}
