.makersEditor-Editor-body-Content-title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.makersEditor-Editor-body-Content__command {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;

  .makersEditor-Editor-body-Content__command-order {
    width: 25px;
    font-size: 16px;
    font-weight: 500;
  }

  .makersEditor-Editor-body-Content__command-content {
    flex: auto;
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-bottom: 16px;

    > input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--Gray-200, #e4e7ec);
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    > textarea {
      box-sizing: border-box;
      width: 100%;
      height: 150px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--Gray-200, #e4e7ec);
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      resize: none;
    }
  }

  .makersEditor-Editor-body-Content__command-button {
    width: 0px;

    img {
      cursor: pointer;
      margin: 16px 0 0 16px;
    }
  }
}

.makersEditor-Editor-body-Content-add {
  display: flex;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  justify-content: center;
  .makersEditor-Editor-body-Content-add__img-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
  }
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.makersEditor-Editor-popup__delete {
  position: fixed;
  z-index: 10;
  bottom: 80px;
  right: 0;
}
