.makersEditor-Editor-body-fields {
  display: grid;
  grid-template-rows: 1fr;
  gap: 24px;
}

.makersEditor-Editor-body__horizontal {
  width: 100%;
  max-width: 825px;
  height: 1px;
  background-color: #e4e7ec;
}

.makersEditor-Editor-body__delete {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #667085;
  cursor: pointer;
}

.makersEditor-Editor-body-footer {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid var(--Gray-200, #e4e7ec);
  padding-top: 10px;
  margin-top: 30px;

  > button {
    padding: 8px 32px;
    border: none;
    border-radius: 16px;
    color: white;
    background-color: #fa323c;
    outline: none;
    font-weight: bold;
    line-height: 24px;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:disabled {
      opacity: 0.1;
      pointer-events: none;
    }
  }
}
