.makersEditor-Editor-body-objectives {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;

  img {
    cursor: pointer;
  }

  .makersEditor-Editor-body-objectives-title {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 200%;
  }

  .makersEditor-Editor-body-objectives__objective {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      flex: 0.05;
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      flex: auto;
      box-sizing: border-box;
      margin: 8px 10px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--Gray-200, #e4e7ec);
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      &:disabled {
        color: #98a2b3;
        background-color: #f2f4f7;
      }
    }
  }
  .makersEditor-Editor-body-objectives-add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    font-weight: 600;
    cursor: pointer;
  }
}
