.makersEditor-ProjectList {
  display: flex;
  flex-direction: column;
  height: 100%;

  .makersEditor-ProjectList-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 16px;

    .makersEditor-ProjectList-header__title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .makersEditor-ProjectList-body {
    padding: 8px;
  }
}
