.makersEditor-Editor-body-Content-menu {
  width: 100%;
  box-sizing: border-box;
  max-width: 900px;
  position: relative;
  margin-bottom: 60px;

  .makersEditor-Editor-body-Content-menu-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    .makersEditor-Editor-body-Content-menu-arrows__dropdown {
      display: flex;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      gap: 8px;
      margin: 0 8px 0 16px;
    }

    .makersEditor-Editor-body-Content-menu-arrows__arrow {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;

      &.disabled {
        color: #98a2b3;
      }
    }
  }

  .makersEditor-Editor-body-Content-menu-modify {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 100;
    gap: 16px;

    .makersEditor-Editor-body-Content-menu-modify__delete {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;
      padding: 8px;
      cursor: pointer;
    }

    .makersEditor-Editor-body-Content-menu-modify__divider {
      border-left: 1px solid #e4e7ec;
      height: 20px;
      display: inline-block;
    }

    .makersEditor-Editor-body-Content-menu-modify__add {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;
      padding: 12px;
      color: white;
      background-color: #fa323c;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.makersEditor-Editor-body-Content-state {
  display: grid;
  grid-template-rows: 1fr;
  gap: 24px;
}

.button-wrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;

  .black-btn {
    background-color: #101828;
    color: white;
    border-radius: 16px;
    border: none;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 8px;
    cursor: pointer;
  }
}
