.makersEditor {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f9fafb;

  section:nth-of-type(1) {
    min-width: 270px;
    background-color: #f9fafb;
    border-right: 1px solid #e4e7ec;
  }
  section:nth-of-type(2) {
    flex: 1;
    background-color: #fff;
  }
}
