.makersEditor-Editor-body-TabMenu {
  display: flex;
  position: absolute;
  width: 95%;
  left: 0;
  top: 0;
  padding: 24px;
  gap: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid var(--Gray-200, #e4e7ec);

  .makersEditor-Editor-body-TabMenu__tab {
    margin: 0;
    cursor: pointer;
  }
  .makersEditor-Editor-body-TabMenu__tab.selected {
    color: #fa323c;
  }
}
