.sampleGame_viewer_HORIZONTAL {
  width: 480px;
  height: 270px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.sampleGame_viewer_VERTICAL {
  width: 197px;
  height: 350px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
